a
{
color: #000000;
text-decoration: none ;
border: none;
}

.menu{
  font-family: sans-serif; 
  list-style: none;
  margin-bottom: 50px; 
}
.menu li{
    display: inline;
    padding: 110px
}

.zagll{
    text-align: center;
    font-weight: 1000;
}

.zagl{
    text-align: center;
    font-weight: 1000;
    margin-bottom: 100px;
}

.izin{
    float:left;
    margin-right: 90px;
    margin-bottom: 50px;
}

.hin{
    float:left;
}


